---
layout: default
title: Hands for Nepal
---
<header>
	<div class="container">
		<div class="column">
			<div>
				<h1 class="editable">Nepal urgently needs COVID-19 vaccines</h1>
				<p class="editable">Nepal is currently facing the worst global wave of COVID-19 infections, with limited health services and acute shortage of vaccines.</p>
				<div class="button">
					<a href="#actnow">Act Now</a>
				</div>
			</div>
		</div>
		<div class="column">
			<img src="{{ site.baseurl }}/images/covid_ncpm_selected_asia_regions.png" alt="COVID-19 Vaccines for Nepal to prevent an impending crisis.">
		</div>
	</div>
</header>

<div class="container">
	<h2 class="editable" style="text-align: center;">Why does Nepal need COVID-19 vaccines?</h2>

	<ul class="thirds">
		<li>
			<div class="image">{% include icons/site.html icon="population" %}</div>
			<h3 class="editable">Millions at Risk</h3>
			<p class="editable">Only a small fraction of Nepal's 30 million people have been vaccinated and most of them have only received the first dose. Enough vaccines are unlikely to be available before 2022. A deadly second wave is spreading in Nepal, putting a large number of people at risk.</p>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="economy" %}</div>
			<h3 class="editable">Rising Cases</h3>
			<p class="editable">Nepal is facing a steep rise in new COVID-19 cases, with a case-reproduction number that is among the highest in the world. The current wave in urban areas could spread throughout the country, once the strict lockdown restrictions start to loosen. This could lead to another wave of steeply rising cases.</p>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="conditions" %}</div>
			<h3 class="editable">Crisis Prevention</h3>
			<p class="editable">Lack of enough hospital beds and healthcare resources, high population density, a long porous border with India, and waning international attention could exacerbate the situation. Immediate access to vaccines will prevent an impending crisis.</p>
		</li>
	</ul>
</div>

<div class="container">
	<div class="columns">
		<div>
			<img src="{{ site.baseurl }}/images/vacs4nep.png" alt="COVID-19 Vaccines for Nepal">
		</div>
		<div>
			<h2 class="editable">Our Mission</h2>

			<p class="editable">We are a global non-profit group working together for Nepal. Our group of volunteers includes scientists, practitioners, engineers, policy-makers, and industrial partners. Join us in urging governments, international partners, and vaccine providers to send relief to Nepal.</p>
		</div>
	</div>
</div>

<div class="container">
	<hr>
	<blockquote>
		<p class="quote editable">Everyone must have access to a COVID-19 vaccine. No one is safe until everyone is safe.</p>
		<div class="attribute">
			 <p class="meta">
			<!--	 <span class="image"><img class="editable" src="{{ site.baseurl }}/images/wooly.jpg" alt="Wooly"></span>  -->
				<span class="author editable"><strong>World Health Organization and International Red Cross</strong></span>
			</p> 
		</div>
	</blockquote>
</div>

<div class="darker">
<div class="container" id="actnow">
	<h2 class="editable">You can help too.</h2>

<!--
	<div class="donate">
		{{ site.donation_embed }}
	</div>
-->

</div>
</div>

<div class="container">
	<h2 class="editable">Updates</h2>
	<p class="editor-link"><a href="cloudcannon:collections/_posts" class="btn"><strong>&#9998;</strong> Add Update</a></p>
	<div class="posts">
		{% for post in site.posts %}
			<div class="post">
				<div class="image" style="background-image: url({{ post.featured_image}})"></div>
				<div class="post-content">
					<p class="date">{{ post.date | date: '%B %d, %Y' }}</p>
					<h3>{{ post.title }}</h3>

					{{ post.content }}
					<p class="editor-link"><a href="cloudcannon:collections/{{ post.path }}" class="btn"><strong>&#9998;</strong> Edit Update</a></p>
				</div>
			</div>
		{% endfor %}
	</div>
</div>


<div class="darker">
<div class="container">
	<h2 class="editable">Join us</h2>
	<p class="editable" style="text-align: center;">Sign up to hear the latest news and progress in our campaign.</p>
	<form action="{{ site.newsletter_action }}" method="post">
		<input type="text" name="EMAIL" placeholder="Email">
		<input type="submit" value="Sign up"/>
	</form>
</div>
</div>
