<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
	<title>{{ page.title }}</title>
	<meta name="description" content="{{ site.description }}">
</head>
<body>
<h1>{{ site.title }}</h1>
<h2>{{ site.subtitle }}</h2>
<h5>Note: This site intentionally has no styling for fast loading on all possible devices</h5>
<hr></hr>
<ul>
	<li><a href="/" title="Home"><h1>Home</h1></a></li>
	<li><a href="/spreadsheets" title="Spreadsheets"><h1>Spreadsheets</h1></a></li>
	<li><a href="/report" title="How to submit Report"><h1>How to submit Report</h1></a></li>
</ul>
<hr></hr>

